/*color palette
Main (60%) $black-coral: #4a586dff;
Secondary (30%) $baby-powder: #fdfff7ff;
Accent color (10%) $pacific-blue: #22aed1ff;

others
--black-coffee: #3a3741ff;
--violet-web: #e980fcff;
background-image: url("../images/download.jpg");
*/


body {
    background-color: #4a586dff;
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}
.banner-text{
    display:flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
}
.title{
    color: #fdfff7ff;
    padding: 20px;
    font-size:75px;
}
.sub-title{
    display:flex;
    background-color:#22aed1ff;
    color:#fdfff7ff;
    padding:10px;
    font-size: 20px;
    border-radius: 10px;
}



