.footer-container{
	background-color: #fdfff7ff;
}

.Notice{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 100px;
	font-weight: 300px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}